.demonstracao {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 220px;
    height: 100px;
    margin: 6px;
    padding: 8px;

}

.borda-solid {
    /*Border Top*/
    border-top-style: solid;
    border-top-color: #000;
    border-top-width: 1px;

    /*Border Right*/
    border-right-style: solid;
    border-right-color: #000;
    border-right-width: 1px;

    /*Border Bottom*/
    border-bottom-style: solid;
    border-bottom-color: #000;
    border-bottom-width: 1px;

    /*Border Left*/
    border-left-style: solid;
    border-left-color: #000;
    border-left-width: 1px;
}

.borda-dashed {
    border-top: 4px dashed #f59e0b;
    border-right: 4px dashed #f59e0b;
    border-bottom: 4px dashed #f59e0b;
    border-left: 4px dashed #f59e0b;
}

.borda-dotted {
    /*top, right, left, bottom*/
    border-width: 6px 6px 6px 6px;
    border-style:  dotted dotted dotted dotted;
    border-color: #ef4444 hsl(63, 70%, 43%) #33772d #8844ef;
}

.borda-double {
    /*top, right, left, bottom*/
    border-width: 8px 8px;
    border-color: #7c3aed; /*top, right, left, bottom*/
    border-style: double;
}

.borda-groove {
   /*top, right, left, bottom
    boder-width: 8px;
    border-color:3b82f6;
    boder-style:groove;
    */
    border: 8px #3b82f6 groove;
} 

.borda-ridge {
     /*top, right, left, bottom
    boder-width: 8px;
    border-color:#10b981;
    boder-style:ridge;
    */
    border: 8px #10b981 ridge;
}
    

.borda-inset {
    /*top, right, left, bottom
    boder-width: 8px;
    border-color:#ec4899;
    boder-style:ridge;
    */
    border: 8px #ec4899 inset;
}

.borda-ouset {
    /*top, right, left, bottom
    boder-width: 8px;
    border-color:#eab308;
    boder-style:ouset;
    */
    border: 8px #eab308 inset;
   
}

.border-radius-diferente{
    border: 8px #b8b195 solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 30px;
    border-top-left-radius: 40px;

}

.border-radius-diferente:hover{
    border-color: #6e6a59;
    cursor: pointer;
}

.border-radius-iguais{
    border: 2px #12ab23 dashed;
    border-radius: 100px;

}